{% extends "base.html" %}
{% load static %}
{% block head_title %} Listas {% endblock %}
{% block content %}
<div class="container-fluid">

    <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Listas de Reproduccion</li>
          </ol>
    </nav>   
<br>
  <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-6">
          {% if elementos|length == 0 %} 
            <center><h3 style="padding-top: 30px; color: white">No hay playlist creadas en tu cuenta de Youtube, prueba <a class="text-success" href="https://www.youtube.com/results?search_query=music&sp=EgIQA0IECAESAA%253D%253D" target="_blank"> importar </a> una playlist existente.</h3></center>
          {% else %}

            <div class="panel panel-success opacidad">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      Mis Play List
                    </h4>
                </div>
            

                <table class="table table-dark table-striped tablest">
                    <thead>
                       <tr scope="col">
                          <th>#</th>
                          <th >Nombre</th>
                          <th>Reproductor </th>
                        </tr>
                    </thead>

                    <tbody>
                      {% for elem in elementos%}
                          <tr>
                              <td scope="row">{{ forloop.counter}}</td>
                              <td>{{elem.title}}</td>
                              <!----
                              <td>
                                <button onclick="location.href = 'user/{{request.user}}'"class="btn btn-success">user</button>
                              </td>-->

                              <td>
                                <button onclick="location.href = 'playlist/{{elem.id}}'" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span> Play</button>
                              </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
                
            </div>
          {% endif %}
      </div> 

      <div class="col-xs-12 col-sm-12 col-md-6 inner cover">
          <form class="text-center" method="POST" style="padding-bottom: 20px; padding-top: 30px;"> {% csrf_token %}
                <h3 style=" color:#FFF">Para importar playlist de youtube copia aqui el url</h3><br><br>
                <input class="form-control col-xs-12 col-sm-12 col-md-12" type="text" placeholder="Buscar" aria-label="Search" name="url_playlist" required>
                <button class="btn btn-success my-2 my-sm-0" type="submit" value="Buscar Playlist">Importar Playlist</button>
          </form>
          <br><br>
               
          <div class="panel panel-success tablest" >
              <div class="panel-heading">
                  <h4 class="panel-title">
                    Mis Listas Importadas
                  </h4>
              </div> 
          

              <table class="table table-dark table-striped opacidad table-condensed">
                  <thead></thead>

                  <tbody>
                    {% if importadas|length == 0 %}
                        <center><h4 style="padding-top: 10px; padding-bottom: 10px; color: white"> Aún no has importado ninguna playlist</h4></center>
                    {% else %}
                      
                        <div class="panel-group" id="accordion" role="tablist" >
                        {% for elem in importadas%}
                        <tr>
                          <td>
                            <div class="panel opacidad" >
                              <div class="panel-heading pequeño row-fluid">
                                <div class="col-xs-9 col-sm-9 col-md-9">
                                  #{{ forloop.counter}}  {{elem.title}}
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href ="#collapse{{ forloop.counter }}" class="btn btn-outline-success" aria-expanded="false">
                                    <span class="glyphicon glyphicon-collapse-down"></span></a>
                                </div>
                              </div>

                              <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body row-fluid">
                                   <hr >
                                  <div class="col-xs-8 col-sm-8 col-md-8">
                                    <h5 class="text-white">Nombre: {{ elem.title }}</h5>
                                    <h5 class="text-white">Autor: {{ elem.autor }} </h5>
                                    <h5 class="text-white">Numero de canciones: {{ elem.no_canciones }}</h5>
                                  </div>
                                  <div class="col-xs-4 col-sm-4 col-md-4">
                                    <br>
                                    <button onclick="location.href = 'playlist/{{elem.playlist_id}}'" class="btn btn-outline-success"><span class="glyphicon glyphicon-play-circle"></span>Play</button>

                                    <button onclick="location.href = '/delete_list/{{elem.playlist_id}}'" class="btn btn-outline-danger"><span class="glyphicon glyphicon-remove-sign"></span></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                        </div>     
                      {% endif %}      
                  </tbody>
              </table>
          </div> 
      </div>
  </div>
</div>
{% endblock %}

